.root * {}

.dark {
    -fx-background-color: rgb(57, 57, 57);
}

.btn {
    -fx-background-color: none;
    -fx-text-fill: rgb(187, 187, 187);
}

.btn:hover {
    -fx-text-fill: orange;
    -fx-cursor: hand;
}

.input {
    -fx-background-color: rgb(69, 73, 74);
    -fx-text-fill: rgb(187, 187, 187);
    -fx-border-color: rgb(100, 100, 100);
}

.input:hover {
    -fx-border-color: rgb(187, 187, 187);
}

.input:focused {
    -fx-border-color: orange;
}
