.root * {}

.dark {
    -fx-background-color: #23272A;
}

.grey {
   -fx-background-color: #2C2F33;
}

.btn {
    -fx-background-color: none;
    -fx-text-fill: rgb(187, 187, 187);
}

.btn:hover {
    -fx-text-fill: orange;
    -fx-cursor: hand;
}

.input {
    -fx-background-color: #2C2F33;
    -fx-text-fill: rgb(187, 187, 187);
    -fx-border-color: rgb(100, 100, 100);
}

.input:hover {
    -fx-border-color: rgb(187, 187, 187);
}

.input:focused {
    -fx-border-color: orange;
}


.scrollPane > .corner {
    -fx-background-color: black;
}

.scrollPane {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-font-size: 4px;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}